:root{
    background-color: var(--secondary);
    color: var(--primary);
    --primary: #ffffff;
    --secondary: #331700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    padding: 1cm;
    color: var(--primary);
    font-size: 3em;
    border: #ffffff solid 1px;
    border-width: 0.1cm 0.1cm 0.1cm 0.1cm;
    border-radius: 1cm 1cm 1cm 1cm;
    width: 80%;
    margin: auto;
}
section{
    justify-content: center;
    border: #ffffff solid 1px;
    border-width: 0.1cm 0.1cm 0.1cm 0.1cm;
    border-radius: 0.5cm 0.5cm 0.5cm 0.5cm;
    width: 30%;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}