:root{
    background: #7d4c0c;
    background: linear-gradient(90deg, rgba(125, 76, 12, 1) 0%, rgba(199, 135, 58, 1) 100%);
    color: var(--primary);
    --primary: #ffffff;
    --secondary: #331700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    padding: 1cm;
    color: var(--primary);
    font-size: 3em;
    border: #ffffff solid 1px;
    border-width: 0.1cm 0.1cm 0.1cm 0.1cm;
    border-radius: 1cm 1cm 1cm 1cm;
    width: 80%;
    margin: auto;
    background-color: rgb(136, 92, 72);
}
section{
    justify-content: center;
    border: #ffffff solid 1px;
    border-width: 0.1cm 0.1cm 0.1cm 0.1cm;
    border-radius: 0.5cm 0.5cm 0.5cm 0.5cm;
    width: 30%;
    margin: auto;
    background-color: rgb(37, 23, 15);
}
a{
    text-decoration: none;
    color: white;
}
img{
    border: #ffffff solid 1px;
    border-width: 0.1cm 0.1cm 0.1cm 0.1cm;
    border-radius: 0.5cm 0.5cm 0.5cm 0.5cm;
}